@model IEnumerable<AssertManagementMVC.Models.AssetAuditLog>

@{
    ViewData["Title"] = "Assert Audit Logs";
}

<h1>Assert Audit Logs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditRequest)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VerifiedByNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuditRequest.AuditRequestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifiedByNavigation.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
