@model IEnumerable<AssertManagementMVC.Models.AuditRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuditStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuditDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuditStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuditDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asset.AssetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuditRequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuditRequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuditRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
