@model IEnumerable<AssertManagementMVC.Models.EmployeeAsset>

@{
    ViewData["Title"] = "Employee Assert";
}

<h1>Employee Assert</h1>

<p>
    <a class= " btn btn-outline-primary text-dark px-4 py-2 rounded " asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AllocationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AllocationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Asset.AssetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AllocationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AllocationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AllocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
